<div th:replace="partes-compartilhadas/topo"></div>

<!--Parte que importa o html responsavel pelo topo das paginas-->
<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Alterar Usuários</h1>


  <!-- DataTales Example -->
  <div class="card shadow mb-4" style="padding: 30px;">
    <form method="post" th:action="@{'/' + ${usuarios.id} + '/atualizar'}" style="margin: 10px"
      onsubmit="return confirm ('Confirma a ação ?')">
      <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" class="form-control" id="nome" name="nome" th:value="${usuarios?.nome}"
          placeholder="Digite o nome aqui" required>
        <small id="emailHelp" class="form-text text-muted">Digite o nome completo</small>
      </div>
      
     <div class="form-group">
      <label for="cpf">CPF</label>
      <input  type="text"class="form-control" id="cpf" name="cpf" th:value="${usuarios?.cpf}" maxlength="11" placeholder="Digite o cpf" required>
      <small id="emailHelp" class="form-text text-muted">Digite apenas números</small>

     </div>
     <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" th:value="${usuarios?.email}" placeholder="Digite o email" required>
        <small id="emailHelp" class="form-text text-muted"></small>

      </div>  
       <div class="form-group">
        <label for="telefone">Telefone</label>
        <input type="text" class="form-control" id="telefone" name="telefone" th:value="${usuarios?.telefone}" maxlength="11" placeholder="Digite o número para contato" required>
      </div>      
      <div class="form-group">
        <label for="endereco">Endereço</label>
        <input type="text" class="form-control" id="endereco" name="endereco" th:value="${usuarios?.endereco}" placeholder="Digite o  seu endereço" required>
      </div>       
      <div class="form-group">
            <label for="senha">Senha</label>
            <input type="password" class="form-control" id="senha" name="senha" th:value="${usuarios?.senha}"
              placeholder="senha" required>
      </div>
      
							 <div class="form-group">
							<label for="permissao">Permissao</label>
							<select id="permissao" name="permissao" class="form-control" aria-label="Disabled select example" required >
							  <option disabled selected>Escolha um cargo</option>
							  <option value="0">Administrador</option>
							  <option value="1">Médico</option>
							</select>
							 </div>
							 
							<div class="row">
       <div class="col">
      <label for="data_de_nascimento">Data de nascimento</label>
        <input type="date" class="form-control" id="data_de_nascimento" name="data_de_nascimento" th:value="${pacientes?.data_de_nascimento}"  required>
    </div>
  </div>  
							 <br>
							 <br>
							 
      <button type="submit" class="btn btn-primary">Enviar</button>
    </form>

  </div>

</div>
<!-- /.container-fluid -->

<div th:replace="partes-compartilhadas/footer"></div>
<!--Parte que importa o html responsavel pela parte de baixo das paginas-->

