<div th:replace="partes-compartilhadas/topo"></div>

<style>
	
	#data{
		text-align: center;
		border-radius: 5px;
		outline: none;
		color: rgb(153, 153, 153);
		
	}
	
</style>

<!--Parte que importa o html responsavel pelo topo das paginas-->
<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Visualizando Consulta</h1>


  <!-- DataTales Example -->
  <div class="card shadow mb-4" style="padding: 30px;">
    <form method="post" th:action="@{'/' + ${consulta.id} + '/consultar'}" style="margin: 10px">
      
      	<div class="form-group">
        <label for="nome_medico">Nome do Usuario</label>
        <input type="text" class="form-control" id="nome_medico" name="nome_medico" th:value="${consulta?.nome_medico}" required disabled>
 		</div>
      	
      	<div class="form-group">
        <label for="cpf">CPF do Paciente</label>
        <input type="text" class="form-control" id="cpf" name="cpf" th:value="${consulta?.cpf}" required disabled>
 		</div>
      	
        <div class="form-group">
		<label for="data" >Data da Consulta</label>
		<br>
		<input type="date" id="data" name="data" th:value="${consulta?.data}" disabled required>
		</div>
      
     	<div class="form-group">
        <label for="sintomas">Sintomas</label>
        <textarea disabled class="form-control" id="sintomas" name="sintomas" rows="3" style="resize: none;" th:inline="text">[[${consulta?.sintomas}]]</textarea>
     	</div>
     	
     	<div class="form-group">
        <label for="prontuario">Prontuario</label>
        <textarea disabled class="form-control" id="prontuario" name="prontuario" rows="3" style="resize: none;" th:inline="text">[[${consulta?.prontuario}]]</textarea>
     	</div>
       	        
      <a href="/consultas"><button type="button" class="btn btn-primary" >Voltar</button></a>
    </form>

  </div>

</div>
<!-- /.container-fluid -->



<div th:replace="partes-compartilhadas/footer"></div>
<!--Parte que importa o html responsavel pela parte de baixo das paginas-->

